.container{
	margin: 1em 0 1em 0;
}
.canvas-container{
	min-width:200px;
	min-height:200px;
}
.header{
	padding:2em 2em 2em 2em;
	baackground-color:red;
	text-align:center;
}
h1{
	font-size:3em;
}
.form{
	padding:0 5em 0 5em;
}
	
